@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bus fast pay</title>
    <link href="@Url.Content("~/Content/cssCustome/style-pay.css")" rel="stylesheet" type="text/css" />
    <!-- ICONIFY -->
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="d-flex align-items-center justify-content-center min-vh-100" style="background-color: rgba(0,0,0,0.4)">

        <div>

            @if (ViewBag.imageBytes != null)
            {
                <img width="100%" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.imageBytes))" />
            }

            <div class="cont-opc text-center pt-3 pb-1">
                <h3 class="name">@ViewBag.nombreUsuario</h3>
                <a href="@ViewBag.urlPago" class="btn btn-success mt-2">Confirmar pago!</a>

                <div class="d-flex justify-content-end mx-2">
                    <a href="@Url.Action("CerrarSesion","Inicio")" class="btn btn-danger px-1 pt-0">
                        <span style="font-size:20px;" class="iconify nav-ico-opt" data-icon="bx:bxs-door-open" data-inline="false"></span>
                    </a>
                </div>

            </div>

        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
