@model PrograAvanzada.Models.TipoPlaca

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="min-vh-100 pt-5 px-2 px-md-3 px-lg-4">

    <div class="cont-forms-crud my-5 mx-auto py-3 px-1 px-sm-3 shadow col-12 col-sm-10 col-md-9 col-lg-7 col-xl-6">

        <form action="/TipoPlaca/Editar" method="post" class="w-100">
            @Html.AntiForgeryToken()

            <h4 class="text-center mt-2 text-info">Editar Tipo Placa</h4>
            <hr />

            @Html.HiddenFor(model => model.IdTipoPlaca)

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", tabindex = 1 } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col" })
                <div class="col-md-12">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { tabindex = 2 } })
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @if (ViewBag.Actualizado != null)
            {
                if (!ViewBag.Actualizado)
                {
                    <div class="alert alert-danger" role="alert">
                        Ha ocurrido un error al actualizar!
                    </div>
                }
            }

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group mt-4">
                <div class="col-md-12">
                    <input type="submit" value="Editar" class="btn btn-block btn-success" tabindex="3" />
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center mt-4 mb-3">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "text-info", tabindex = 4 })
            </div>

        </form>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
