@model PrograAvanzada.Models.Empresa

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="min-vh-100 pt-5 px-2 px-md-3 px-lg-4">

    <div class="cont-forms-crud my-5 mx-auto py-3 px-1 px-sm-3 shadow col-12 col-sm-10 col-md-9 col-lg-7 col-xl-6">

        <form action="/Empresa/Crear" method="post" class="w-100">
            @Html.AntiForgeryToken()

            <h4 class="text-center mt-2 text-info">Crear Empresa</h4>
            <hr />

            <!--@Html.HiddenFor(model => model.IdEmpresa)-->

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", tabindex = 1 } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="input-group mb-3 mt-4" style="padding: 0px 15px 0px 15px">
                <div class="input-group-prepend">
                    @Html.LabelFor(model => model.IdTipoIdentificacion, htmlAttributes: new { @class = "input-group-text" })
                </div>
                @Html.DropDownListFor(model => model.IdTipoIdentificacion, new SelectList(ViewBag.TiposIdentificacion, "IdTipoIdentificacion", "Descripcion"), new { @class = "custom-select", tabindex = 2 })
                @Html.ValidationMessageFor(model => model.IdTipoIdentificacion, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Identificacion, htmlAttributes: new { @class = "control-label col" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Identificacion, new { htmlAttributes = new { @class = "form-control", @maxlength = "30", tabindex = 3 } })
                    @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", tabindex = 4 } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Contacto, htmlAttributes: new { @class = "control-label col" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Contacto, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", tabindex = 5 } })
                    @Html.ValidationMessageFor(model => model.Contacto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col" })
                <div class="col-md-12">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { tabindex = 6 } })
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @if (ViewBag.Creado != null)
            {
                if (!ViewBag.Creado)
                {
                    <div class="alert alert-danger" role="alert">
                        Ha ocurrido un error al agregar!
                    </div>
                }
            }

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group mt-4">
                <div class="col-md-12">
                    <input type="submit" value="Agregar" class="btn btn-block btn-success" tabindex="7" />
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center mt-4 mb-3">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "text-info", tabindex = 8 })
            </div>

        </form>

    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
