@model PrograAvanzada.Models.Linea

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="min-vh-100 pt-5 px-2 px-md-3 px-lg-4">

    <div class="cont-forms-crud my-5 mx-auto py-3 px-1 px-sm-3 shadow col-12 col-sm-10 col-md-9 col-lg-7 col-xl-6">

        <form action="/Linea/Crear" method="post" class="w-100">
            @Html.AntiForgeryToken()

            <h4 class="text-center mt-2 text-info">Crear Línea</h4>
            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", tabindex = 1 } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CodigoCTP, htmlAttributes: new { @class = "control-label col" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.CodigoCTP, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", tabindex = 2 } })
                    @Html.ValidationMessageFor(model => model.CodigoCTP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="input-group mb-3 mt-4" style="padding: 0px 15px 0px 15px">
                <div class="input-group-prepend">
                    @Html.LabelFor(model => model.IdEmpresa, htmlAttributes: new { @class = "input-group-text" })
                </div>
                @Html.DropDownListFor(model => model.IdEmpresa, new SelectList(ViewBag.Empresas, "IdEmpresa", "Descripcion"), new { @class = "custom-select", tabindex = 3 })
                @Html.ValidationMessageFor(model => model.IdEmpresa, "", new { @class = "text-danger" })
            </div>

            <div class="input-group mb-3 mt-4" style="padding: 0px 15px 0px 15px">
                <div class="input-group-prepend">
                    @Html.LabelFor(model => model.IdTarifa, htmlAttributes: new { @class = "input-group-text" })
                </div>
                @Html.DropDownListFor(model => model.IdTarifa, new SelectList(ViewBag.Tarifas, "IdTarifa", "Descripcion"), new { @class = "custom-select", tabindex = 4 })
                @Html.ValidationMessageFor(model => model.IdTarifa, "", new { @class = "text-danger" })
            </div>

            <div class="input-group mb-3 mt-4" style="padding: 0px 15px 0px 15px">
                <div class="input-group-prepend">
                    @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "input-group-text" })
                </div>
                @Html.DropDownListFor(model => model.Provincia, new SelectList(ViewBag.Provincias, "Provincia", "Nombre"), "--Seleccione--", new { @class = "custom-select", tabindex = 5 })
                @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-danger" })
            </div>

            <div class="input-group mb-3 mt-4" style="padding: 0px 15px 0px 15px">
                <div class="input-group-prepend">
                    @Html.LabelFor(model => model.Canton, htmlAttributes: new { @class = "input-group-text" })
                </div>
                @Html.DropDownListFor(model => model.Canton, new SelectList(string.Empty), new { @class = "custom-select", tabindex = 6 })
                @Html.ValidationMessageFor(model => model.Canton, "", new { @class = "text-danger" })
            </div>

            <div class="input-group mb-3 mt-4" style="padding: 0px 15px 0px 15px">
                <div class="input-group-prepend">
                    @Html.LabelFor(model => model.Distrito, htmlAttributes: new { @class = "input-group-text" })
                </div>
                @Html.DropDownListFor(model => model.Distrito, new SelectList(string.Empty), new { @class = "custom-select", tabindex = 7 })
                @Html.ValidationMessageFor(model => model.Distrito, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col" })
                <div class="col-md-12">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { tabindex = 8 } })
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @if (ViewBag.Creado != null)
            {
                if (!ViewBag.Creado)
                {
                    <div class="alert alert-danger" role="alert">
                        Ha ocurrido un error al agregar!
                    </div>
                }
            }

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group mt-4">
                <div class="col-md-12">
                    <input type="submit" value="Editar" class="btn btn-block btn-success" tabindex="9" />
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center mt-4 mb-3">
                @Html.ActionLink("Regresar", "Consulta", null, new { @class = "text-info", tabindex = 10 })
            </div>

        </form>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $(document).ready(function () {
                $("#Provincia").change(function () {
                    $("#Canton").empty();
                    $("#Distrito").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CargaCantones")',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify({ provincia: $("#Provincia").val() }),
                        success: function (cantones) {
                            $("#Canton").append("<option value=''>--Seleccione--</option>");
                            $.each(cantones, function (i, canton) {
                                $("#Canton").append('<option value="' + canton.Canton + '">' + canton.Nombre + '</option>');
                            });
                        },
                        error: function (ex) {
                            //alert('Fallo al cargar los cantones : ' + ex);
                            console.log("Fallo al cargar los cantones");
                        }
                    });
                })
                $("#Canton").change(function () {
                    $("#Distrito").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CargaDistritos")',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify({ provincia: $("#Provincia").val(), canton: $("#Canton").val() }),
                        success: function (distritos) {
                            $("#Distrito").append("<option value=''>--Seleccione--</option>");
                            $.each(distritos, function (i, distrito) {
                                $("#Distrito").append('<option value="' + distrito.Distrito + '">' + distrito.Nombre + '</option>');
                            });
                        },
                        error: function (ex) {
                            //alert('Fallo al cargar los distritos : ' + ex);
                            console.log("Fallo al cargar los distritos");
                        }
                    });
                })

            });
    </script>
}
