@model IEnumerable<PrograAvanzada.Models.Bitacora>

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="min-vh-100 pt-5 px-2 px-md-3 px-lg-4">

    <div class="cont-table my-5 py-3 px-1 px-sm-3 shadow">

        <div style="overflow-x: auto">
            <table class="table table-striped table-hover">

                <thead class="thead-dark">
                    <tr>
                        <th nowrap>@Html.DisplayNameFor(model => model.Controlador)</th>
                        <th nowrap>@Html.DisplayNameFor(model => model.Accion)</th>
                        <th nowrap>@Html.DisplayNameFor(model => model.Error)</th>
                        <th nowrap>@Html.DisplayNameFor(model => model.Tipo)</th>
                        <th nowrap>@Html.DisplayNameFor(model => model.Fecha)</th>
                        <th nowrap>@Html.DisplayNameFor(model => model.IdUsuario)</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Controlador)</td>
                            <td>@Html.DisplayFor(modelItem => item.Accion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Error)</td>
                            <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                            <td>@Html.DisplayFor(modelItem => item.IdUsuario)</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

